body {
    font: 400 16px/1.5 'Roboto', Arial, sans-serif;
    color: $text-color;
    text-align: left;
    text-shadow: 1px 1px 1px $bg-color;
    background: $bg-color url(/assets/img/bg.jpg) no-repeat center top;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
}
