article.item-release {
    @include outer-container;

    section.info {
        @include span-columns(12);
        @include omega();
        @include media($desktop) {
            @include span-columns(6);
            @include omega();
        }
    }
    section.music {
        @include span-columns(12);
        @include omega();
        @include media($desktop) {
            @include span-columns(6);
            @include omega();
        }

        iframe.bandcamp-item {
            display: block;
            width: 100%;
            overflow: hidden;
            max-width: 320px;
            border: 1px solid #4E4E4E;
            margin-bottom: 10px;

            &__track {
                height: 82px;
            }
            &__release {
                height: 400px;
            }
        }
    }
 }