<nav class="nav-lang">
    <a class="nav-lang__link nav-lang__link--en" href="javascript:void(0)">en</a>
    <a class="nav-lang__link nav-lang__link--ua" href="javascript:void(0)">ua</a>
    <a class="nav-lang__link nav-lang__link--ru" href="javascript:void(0)">ru</a>
    <!-- {% assign posts=site.posts | where: "lang", "ua" | where: "name", page.name %}
    {% for post in posts %}
        <a class="nav-lang__link nav-lang__link--ua" href="{{ site.baseurl }}{{ post.permalink }}">{{ post.lang }}</a>
    {% endfor %}

    {% assign posts=site.posts | where: "lang", "en" | where: "name", page.name %}
    {% for post in posts %}
        <a class="nav-lang__link nav-lang__link--en" href="{{ site.baseurl }}{{ post.permalink }}">{{ post.lang }}</a>
    {% endfor %}

    {% assign posts=site.posts | where: "lang", "ru" | where: "name", page.name %}
    {% for post in posts %}
        <a class="nav-lang__link nav-lang__link--ru" href="{{ site.baseurl }}{{ post.permalink }}">{{ post.lang }}</a>
    {% endfor %} -->
</nav>
