body {
    font: 400 14px/1.4 'Roboto', Arial, sans-serif;
    color: $text-color;
    text-align: left;
    text-shadow: 1px 1px 1px $bg-color;
    background: $bg-color url(/assets/img/bg.jpg) repeat-y center top;
    margin: 0;
}
