$bg-color: #000;
$text-color: #ddd;
$link-color: darken($text-color, 10%);
$link-hover-color: lighten($link-color, 20%);

$mobile: new-breakpoint(max-width 767px 12);
$tablet: new-breakpoint(min-width 768px 12);
$desktop: new-breakpoint(min-width 992px 12);