---
layout: default
---

<article class="item-artist">
    <section class="info">
        <h1>{{ page:title }}</h1>

        {% if page.photo %}
            <img src="{{ page:photo }}" alt="Photo of {{ page:title }}" title="Photo of {{ page:title }}">
        {% endif %}

        {% if page.name %}
            <div>Name: {{ page:name }}</div>
        {% endif %}

        {% if page.location %}
            <div>Location: {{ page:location }}</div>
        {% endif %}

        {% if page.about %}
            <div>{{ page:about }}</div>
        {% endif %}

        <nav class="artist-links">
            <span>Links: </span>
            {% if page.website %}
                <a href="{{ page:soundcloud }}" target="_blank">website</a>
            {% endif %}
            {% if page.soundcloud %}
                <a href="{{ page:soundcloud }}" target="_blank">soundcloud</a>
            {% endif %}
            {% if page.facebook-page %}
                <a href="{{ page:facebook-page }}" target="_blank">facebook</a>
            {% endif %}
            {% if page.facebook-profile %}
                <a href="{{ page:facebook-profile }}" target="_blank" style="display:none;">facebook profile</a>
            {% endif %}
            {% if page.bandcamp %}
                <a href="{{ page:bandcamp }}" target="_blank">bandcamp</a>
            {% endif %}
            {% if page.discogs %}
                <a href="{{ page:soundcloud }}" target="_blank">discogs</a>
            {% endif %}
            {% if page.coub %}
                <a href="{{ page:soundcloud }}" target="_blank">coub</a>
            {% endif %}
        </nav>
    </section>
    <section class="music">
        {% if page.bandcamp-track-1 %}
            <h2>Tracks:</h2>
            <iframe class="bandcamp-item bandcamp-item__track" src="http://bandcamp.com/EmbeddedPlayer/v=2/track={{ page.bandcamp-track-1 }}/layout=http_3A_2F_2Fbandcamp-play.github.io_2Firukanji-track.json/bgcol=333/linkcol=88ffff/debug=true/"></iframe>
        {% endif %}

        {% if page.bandcamp-track-2 %}
            <iframe class="bandcamp-item bandcamp-item__track" src="http://bandcamp.com/EmbeddedPlayer/v=2/track={{ page.bandcamp-track-2 }}/layout=http_3A_2F_2Fbandcamp-play.github.io_2Firukanji-track.json/bgcol=333/linkcol=88ffff/debug=true/"></iframe>
        {% endif %}

        {% if page.bandcamp-album-1 %}
            <h2>Album:</h2>
            <iframe class="bandcamp-item bandcamp-item__release" src="http://bandcamp.com/EmbeddedPlayer/v=2/album={{ page.bandcamp-album-1 }}/layout=http_3A_2F_2Fbandcamp-play.github.io_2Firukanji-album.json/bgcol=333/linkcol=88ffff/debug=true/"></iframe>
        {% endif %}

        {% if page.bandcamp-compilation-1 %}
            <h2>Releases:</h2>
            <iframe class="bandcamp-item bandcamp-item__release" src="http://bandcamp.com/EmbeddedPlayer/v=2/album={{ page.bandcamp-compilation-1 }}/layout=http_3A_2F_2Fbandcamp-play.github.io_2Firukanji-album.json/bgcol=333/linkcol=88ffff/debug=true/"></iframe>
        {% endif %}

        {% if page.bandcamp-compilation-2 %}
            <iframe class="bandcamp-item bandcamp-item__release" src="http://bandcamp.com/EmbeddedPlayer/v=2/album={{ page.bandcamp-compilation-2 }}/layout=http_3A_2F_2Fbandcamp-play.github.io_2Firukanji-album.json/bgcol=333/linkcol=88ffff/debug=true/"></iframe>
        {% endif %}
    </section>
</article>